<h1><%= @work.title %></h1>
<h2><%= @work.creator %></h2>
<td></td>
</tr>
<tr>
<td rowspan="2"><p><%= @work.description %></p></td>
<td><p><%= (@work.category).capitalize %></p></td>
</tr>
<tr>
<td><p>Publication Year: <%= @work.publication_year %></p></td>
</tr>
</table>
</section>
<%= link_to '<button type="button" class="btn btn-primary">Back to Works</button>'.html_safe, works_path %>
<%= link_to '<button type="button" class="btn btn-primary">Edit</button>'.html_safe, edit_work_path %>
<%= link_to '<button type="button" class="btn btn-primary">Upvote</button>'.html_safe, vote_path(@work.id), method: :post %>
<%= link_to '<button type="button" class="btn btn-primary">Delete</button>'.html_safe, work_path(@work), method: :delete, data: {confirm: "Are you sure?"}%>


<h2>Vote Log - Total Votes: <%= @work.total_votes %></h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
  <% @work.votes.each do |vote| %>
    <tr>  
      <td><%= vote.user.name %></td>
      <td><%= vote.date%></td>
    </tr>
  <% end %>
  </tbody>
</table>

<p><%= link_to "Return to Works List", works_path %></p>