<h1 >Users</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">User ID</th>
      <th scope="col">Name</th>
      <th scope="col">Join Date</th>
      <th scope="col">Upvote Count</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr> 
      <td><%= link_to user.id, user_path(user) %></td>
      <td><%= link_to user.name, user_path(user) %></td>
      <td><%= user.join_date %></td>
      <td><%= user.total_votes(user.id) %></td>
      <td><%= link_to "Edit", edit_user_path(user.id) %></td>
      <td><%= link_to "Delete", user_path(user.id), method: :delete, data: {confirm: "Are you sure?"}%></td>
    </tr>
  <% end %>
  </tbody>
</table>
