<h2>ID: <%= @user.id %></h2>
<h2>Name: <%= @user.name %></h2>
<h3>Join Date: <%= @user.join_date %></h3>
<h3>Total Upvotes: <%= @user.total_votes(@user.id) %></h3>

<p><%= link_to "Edit User", edit_user_path %></p>
<p><%= link_to "Delete User", user_path(@user), method: :delete, data: {confirm: "Are you sure?"}%></p>

<h2>Vote Log</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Vote ID</th>
      <th scope="col">Category</th>
      <th scope="col">Title</th>
      <th scope="col">Creator</th>
      <th scope="col">Vote Date</th>
      <th scope="col">DELETE</th>
    </tr>
  </thead>
  <tbody>
  <% @user.votes.each do |vote| %>
    <tr> 
      <td><%= vote.id %></td>
      <td><%= (vote.work.category).capitalize %></td>
      <td><%= link_to vote.work.title, work_path(vote.work) %></td>
      <td><%= vote.work.title %></td>
      <td><%= vote.date%></td>
      <td><%= link_to "Delete Vote", vote_path(vote.id), method: :delete, data: {confirm: "Are you sure?"}%></td>
    </tr>
  <% end %>
  </tbody>
</table>

<p><%= link_to "Return to User List", users_path %></p>