<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/assets/icon.ico">
  </head>
    <section class="header_image">
  <nav class="nav loginout">
    <% if session[:user_id] %>
    <% @current_user = User.find_by(id: session[:user_id]) %>
    <% if @current_user.name != nil %>
      <h5>Logged in as <%= @current_user.name %></h5>      
    <% else %>
      <h5>Logged in as User ID: <%= @current_user.id %></h5> 
    <% end %>
    <%= link_to "Log out", logout_path, method: "delete" %>
    <% else %>
      <%= link_to "Login with Github", github_login_path %>
   <% end %>
  </nav>
    <header>
    <h1>Media Ranker</h1>
    <h2>Ranking the Best of Everything</h2>
    </header>
  
  <nav class="nav">
  <%= link_to "View Top Media", root_path %>
  <%= link_to "View All Media", works_path %>
  <%= link_to "Add a New Media", new_work_path %>
  <%= link_to "View All Users", users_path %>
  </nav>
</section>
    <section class="flash">
    <% flash.each do |name, message| %>
      <div class="<%= name %>"><%= message %></div>
    <% end %>
  </section>
  <body>
    <%= yield %>
  </body>
</html>
