<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/assets/icon.ico">
  </head>
    <section class="header_image">
  <nav class="nav loginout">
  <% if session[:user_id].nil? %>
      <%= link_to "Login", login_path %>
    <% else %>
    <% user = User.find(session[:user_id])%>
    <section class="login_info">
      <h5>Logged in as <%= user.name %></h5>
    </section>
      <%= link_to "Logout", logout_path, method: :post%>
    <% end %>
  </nav>
    <header>
    <h1>Media Ranker</h1>
    <h2>Ranking the Best of Everything</h2>
    </header>
  
  <nav class="nav">
  <%= link_to "View Top Media", root_path %>
  <%= link_to "View All Media", works_path %>
  <%= link_to "Add a New Media", new_work_path %>
  <%= link_to "View All Users", users_path %>
  </nav>
</section>
    <section class="flash">
    <% flash.each do |name, message| %>
      <div class="<%= name %>"><%= message %></div>
    <% end %>
  </section>
  <body>
    <%= yield %>
  </body>
</html>
